<nav class="catalog-menu container">
            <ul class="catalog-menu__list">
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Люстры</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Светильники</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Лампы</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Бра</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Торшеры</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Споты</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Точечные</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Подсветки</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Трековые системы</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">LED</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Уличные</a>
                </li>
                <li class="catalog-menu__item">
                    <a class="catalog-menu__link" href="/">Лампочки</a>
                </li>
            </ul>
        </nav>