:root {
    --color-white: #FFFFFF;
    --color-milk: #F9F9F9;
    --color-light-gray: #F1F6FC;
    --color-gray-blue: #D9E1E6;
    --color-gray: #8A9D9F;
    --color-dark: #30373D;
    --color-light-blue: #E1F0EC;
    --color-green: #2D8569;
    --color-celadon: #2D7585;
    --color-red: #EA4C2F;
    --color-light-green: #3CD978;
    --color-yellow: #EAC12F;

    --font-family-base: 'Inter', sans-serif;

    --border-radius: 5px;

    --shadow: 0 0 45px 0 rgba(26, 62, 71, 0.3);

    --container-width: 1440px;
    --container-padding-x: 16px;

    --input-button-height: 45px;

    --transititon-duration: 0.2s;
}