.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;

    span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-dark);
        border-radius: 3px;
    }

    span:nth-child(1) {
        top: 10px;
        transform: rotate(45deg);
    }

    span:nth-child(2) {
        top: 10px;
        transform: rotate(-45deg);
    }
}

&__back {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    border: none;
    color: var(--color-dark);
    background-color: transparent;
    cursor: pointer;

}

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 466px;
    max-height: 465px;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    padding: 70px 70px 50px 70px;
    border-radius: 10px;
    z-index: 1;

    &--big {
        max-height: 550px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  &__title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
  }

  &__input {
    background-color: var(--color-light-gray);
    border: none;
    border-radius: 5px;
    max-width: 326px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 10px 15px;
    cursor: text;

    &::placeholder {
        color: var(--color-gray);
    }

    &:focus-visible {
        outline: none;
    }

    &--captcha {
        max-width: 161px;
    }
  }

  &__checkbox {
    display: inline-flex;
    align-self: start;
    align-items: center;
    margin-top: 15px;
    gap: 8px;
    cursor: pointer;
    position: relative;

    &-input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border: 1px solid var(--color-gray);
        border-radius: 2px;
        background-color: transparent;
        transition: all 0.2s ease;

        &::after {
        content: '';
        width: 20px;
        height: 20px;
        background: url('/src/images/remember-icon.svg') no-repeat center/contain;
        opacity: 0;
        }
    }

    &-input:checked + &-box::after {
        opacity: 1;
    }

    &-input:checked {
        border: 1px solid var(--color-green);
    }

    &-label {
        font-size: 14px;
        color: var(--color-dark);
    }

  }

  &__register {
    color: var(--color-green);
    font-size: 16px;

    &:hover {
        text-decoration: underline;
    }
  }

  &__note {
    align-self: center;
    font-size: 12px;
    text-decoration: underline;
    color: var(--color-dark);

    &--green {
        text-decoration: none; 
        color: var(--color-green);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    border: none;
    border-radius: var(--border-radius);
    padding: 11px 65px;
    background-color: var(--color-celadon);
    font-size: 16px;
    color: var(--color-white);

    &:hover {
        background-color: var(--color-green);
    }

    &--gray {
        background-color: var(--color-gray);

        &:hover {
        background-color: var(--color-gray);
        }
    }
  }

  &__select {
    appearance: none;
    background-color: var(--color-light-gray);
    border: none;
    border-radius: 5px;
    max-width: 326px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 10px 15px;
    color: var(--color-dark);
    background-image: url('/src/images/arrow-icon.svg'); 
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;

    &:focus-visible {
        outline: none;
    }
  }

  &__captcha {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;

    &-symbols {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 40px;
        background-color: #2B372B;
        font-family: 'Caveat';
        color: var(--color-white);
        border-radius: var(--border-radius);
        padding: 10px 15px;
        font-size: 30px;
        font-weight: 700;
    }
  }
}
