<div class="modal" id="login-modal">
    <div class="modal__overlay"></div>
    <div class="modal__content">
        <button class="modal__close" aria-label="Закрыть">
            <span></span>
            <span></span>
        </button>
        <form class="modal__form">
            <span class="modal__title">ВХОД</span>
            <input class="modal__input" type="text" placeholder="Логин" required>
            <div class="modal_password-wrapper">
                 <input class="modal__input" type="password" placeholder="Пароль" required>
                <label class="modal__checkbox">
                    <input class="modal__checkbox-input" type="checkbox">
                    <span class="modal__checkbox-box"></span>
                    <span class="modal__checkbox-label">Запомнить меня</span>
                </label>
            </div>
            <button class="modal__button" type="submit">Войти</button>
            <a class="modal__register" href="#">Регистрация</a>
        </form>
        <a class="modal__note" href="#">Не помню свой пароль</a>
    </div>
</div>
